/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{font-family:arial;font-size:15px;line-height:16px;background:#ECE9D8;}
.template{width:960px;margin:0 auto;}
.clear{overflow:hidden;}

.headersection{height:110px;background:#404040;}
.title {
    float: left;
    width: 435px;
    margin-left: 50px;
    margin-top: 9px;
}
.title h2 {
    color: #DB6225;
    font-size: 40px;
}
.extra{
	color:#fff;
}

.mainmenu {
    color: #F26722;
    float: right;
    width: 475px;
    margin-top: 44px;
}
.mainmenu a {
    color: #B88;
    font-weight: bold;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
}
.mainmenu a:hover, #active{
	color:#F26722;
}

.mainsection{background:#fff;}
.maintop {
    margin: 25px 50px;
    border-bottom: 2px dotted #ccc;
    margin-top: 10px;
    margin-bottom: 8px;
}
.maintop h2 {
    font-size: 40px;
    color: #333;
}
.maintop h3 {
    font-size: 28px;
    color: #999;
}

.content {
    margin: 0 50px;
}
.description {
    text-align: center;
}
.description p {
    font-size: 24px;
    line-height: 28px;
    color: #777;
}

.midcontent {
    background: rgb(255,111,32);
    background: -moz-linear-gradient(left, rgb(255,111,32) 0%, rgb(249,150,92) 100%);
    background: -webkit-linear-gradient(left, rgb(255,111,32) 0%,rgb(249,150,92) 100%);
    background: linear-gradient(to right, rgb(255,111,32) 0%,rgb(249,150,92) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6f20', endColorstr='#f9965c',GradientType=1 );
    height: 260px;
}
.midleft {
    float: left;
    width: 403px;
    margin-right: 58px;
    text-align: center;
    padding: 23px 40px;
	color:#fff;
}
.midleft h2 {
    font-size: 25px;
    border-bottom: 2px dotted #ccc;
    padding-bottom: 29px;
    width: 209px;
    margin-left: 90px;
}
.midleft p {
    font-size: 17px;
    line-height: 22px;
    font-weight: bold;
}

.midimage {
    float: left;
    width: 319px;
}
.midimage img {
    width: 293px;
}

.post {
    margin: 0 50px;
    border-top: 2px dotted #ccc;
    border-bottom: 2px dotted #ccc;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 29px;
    padding-bottom: 30px;
}
.allpost {
    margin-left: -70px;
}
.samearticle {
    width: 210px;
    float: left;
    margin-left: 70px;
    padding: 5px 15px;
	color:#fff;
	text-align:center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7965b+0,f57121+100 */
background: rgb(247,150,91); /* Old browsers */
background: -moz-linear-gradient(top, rgb(247,150,91) 0%, rgb(245,113,33) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(247,150,91) 0%,rgb(245,113,33) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(247,150,91) 0%,rgb(245,113,33) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7965b', endColorstr='#f57121',GradientType=0 ); /* IE6-9 */
}
.samearticle h2 {
    font-size: 25px;
    text-shadow: 0px 2px 2px #333;
    border-bottom: 2px dotted #fff;
    padding-bottom: 20px;
}
.samearticle p{}
.postlink {
    background: #E7E3E3;
    margin-bottom: 20px;
    padding: 5px;
}
.postlink a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #F68641;
}
.postlink a:hover{}

.footersection{background:#fff;}
.footportion {
    margin: 0px 50px 8px 50px;
    text-align: center;
    color: #777;
}
.footportion p {
    margin: 0px;
}
.footportion a {
    color: #777;
}
.footportion a:hover{
	color:#F79153;
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
